/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 1000px;
  max-width: 1280px;
  margin: auto;
  /* debug */
  background-color: #f5f8fa;
  color: #33475b;
}

/* REGOLE RICORRENTI */
.padding-ten {
  padding-left: 10%;
  padding-right: 10%;
}

.in-bl {
  display: inline-block;
}

.row::after {
  content:"";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: #fff;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 3px;
  cursor: pointer;
}

button.big {
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2, h3 {
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-normal {
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-small {
  font-size: 10px;
}

.small-img {
  width: 100px;
  height: 75px;
  margin: 20px auto auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-list {
  list-style-type: none;
}

li {
  text-transform: capitalize;
}

hr {
  margin-bottom: 20px;
}

/* HEADER */

/* top-top-bar */
.top-top-bar {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px #33475b;
  /* debug */
  margin-bottom: solid 1px #C4C4C4;
  position: relative;
  font-size: 12px;
  background-color: #f5f8fa;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

#lingua > span:first-child {
  padding-right: 10px;
  border-right: solid 1px #33475b;
}

#lingua >span:last-child {
  padding-left: 20px;
}

#log {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10%;
}

#log span {
  margin-left: 10px;
}

.top-top-bar button {
  padding: 5px;
}

#login {
  color: #ff7a59;
  background-color: white;
}

/* nav bar */
nav {
  padding-top: 25px;
  padding-bottom: 25px;
  /* debug */
  position: relative;
  background-color: white;
}

#header-nav-bar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 10%;
  font-size: 12px;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav i {
  margin-left: 10px;
}

/* jumbotron */
.jumbotron-container {
  position: relative;
}

#jumbotron {
  width: 100%;
  height: 550px;
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.jumbo-title-container {
  width: 55%;
  margin-top: 65px;
}

.jumbo-title-container > * {
  margin-bottom: 20px;
}

#green-bar {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  /* debug */
  background-color: #7EEFD3;
  border-top: solid 3px #0A4738;
  border-bottom: solid 3px #0A4738;

}

/* MAIN */

/* prima section */
#presentazione-container {
  width: 60%;
  margin: 30px auto;
  /* debug */
  text-align: center;
}

#presentazione-image {
  width: 150px;
  height: 110px;
  margin: auto;
  background-image: url(../img/cube.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* seconda section */
#spiegazione-container {
  width: 100%;
  /* debug */
}

#blocco-orizzontale, .verticale {
  /* debug */
  background-color: white;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #8D8D8D;
  -webkit-box-shadow: 0 0 5px #8D8D8D;
  box-shadow: 0 0 5px #8D8D8D;
  text-align: center;
}

/* blocco orizzontale */
#blocco-orizzontale {
  width: 100%;
  margin-bottom: 40px;
  /* debug */
  padding-top: 30px;
  padding-bottom: 30px;
}

.orizzontale-sx {
  width: 30%;
  height: 200px;
  float: left;
}

.orizzontale-dx {
  text-align: left;
}

#blocco-orizzontale .small-img {
  background-image: url(../img/book.svg);
}

#p-orizzontale {
  width: 75%;
}

.popular-feature {
  font-weight: bold;
  text-transform: uppercase;
}

.line {
  position: relative;
  bottom: 5px;
  margin-left: 40px;
}

.orizzontale-dx li {
  display: inline-block;
  margin-right: 20px;
}

.spiegazione i {
  color: #ff7a59;
}

/* blocchi verticali */
.verticale {
  float: left;
  width: 30%;
  /* debug */
  padding: 10px;
  text-align: center;
}

#blocco-uno .small-img {
  background-image: url(../img/marketing.svg);
}

#blocchi-verticali ul {
  text-align: left;
}

#blocco-due {
  margin-left: 5%;
  margin-right: 5%;
  /* debug */
}

#blocco-due .small-img {
  background-image: url(../img/sales.svg);
}

#blocco-tre .small-img {
  background-image: url(../img/service.svg);
}
